*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #8db1cf;
}

.h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    padding-top: 3rem;
}

.card{
    width: 95%;
    max-width: 480px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #5d7ba5;
    margin: 40px auto 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(27, 56, 65, 0.5);
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #c3cfe2;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #c3cfe2;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.search button img{
    width: 50px;
    height: 50px;
}

.weather-icon{
    width: 170px;
    margin-top: 20px;
}

.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: last baseline;
    text-align: center;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 22px;
    margin-top: -5px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}